In [13]:
#Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path={'executable_path' : ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\Stephanie\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
#Visit mars website
url= 'https://redplanetscience.com'
browser.visit(url)
#Optional Delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
#HTML Parser
html=browser.html
news_soup=soup(html, 'html.parser')
slide_elem=news_soup.select_one('div.list_text')

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
#Use parent element to find the first 'a' tag and save it as 'news_title'
news_title=slide_elem.find('div' , class_='content_title').get_text()
news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [7]:
#Use parent element to find paragraph text
news_p=slide_elem.find('div' , class_='article_teaser_body').get_text()
news_p

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

### Featured Images

In [8]:
#Visit URL
url='https://spaceimages-mars.com'
browser.visit(url)

In [9]:
#Finda nd click full image button
full_image_elem=browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
#Prase resulting html with soup
html=browser.html
img_soup=soup(html, 'html.parser')

In [11]:
#Find relative image URL
img_url_rel=img_soup.find('img' , class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [12]:
#Use basre URL to create absolute URL
img_url=f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [14]:
df=pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description' , 'Mars' , 'Earth']
df.set_index('description' , inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
browser.quit()